<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="TheManager">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">PwkTr3KMJ1I7fay2UC02</property>
		<property name="hibernate.connection.url">jdbc:mysql://81.169.235.144:3306/TheManager</property>
		<property name="hibernate.connection.username">TheManager</property>
		<property name="hibernate.default_schema">TheManager</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="hibernate.hbm2ddl.auto">create-drop</property>
		
		<mapping class="de.voltoviper.objects.benutzer.Benutzer" />
		<mapping class="de.voltoviper.objects.benutzer.Kunde" />
		<mapping class="de.voltoviper.objects.benutzer.Mitarbeiter" />
		<mapping class="de.voltoviper.objects.device.Device" />
		<mapping class="de.voltoviper.objects.device.network.Interface" />
		<mapping class="de.voltoviper.objects.device.network.WlanInterface" />
		<mapping class="de.voltoviper.objects.device.network.LanInterface" />
		<mapping class="de.voltoviper.objects.standards.Hersteller" />
		
	</session-factory>
</hibernate-configuration>
